body{
    font-family: sans-serif;
}
input:focus{
    outline: 1px solid transparent;
}
/* The top header in the home page  */
.header_1_first {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px 10px;
}
.header_1_first nav{
    display: flex;
    justify-content: space-between;
    width: 75%;

}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.header_1_first input{
    font-family: 'main_color' ;
    margin: 0 70px 0 70px;
    background-color: rgb(0, 35, 190);
    width: 250px;
    color: white;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid transparent;
}
.page_info{
    padding-left: 10px;
    line-height: 1.6 ;
    font-size: 20px;
    
}
.paragraph_title{
    color: rgb(0, 77, 150);
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
}
.page_info .page_information::before{
    content: "";
    padding-left: 30px;
    
}

/* links section */

.links_section_title{
    margin-left: 10px;
    color: rgb(0, 77, 150);
    font-weight: bold;
    margin-right: 500px;

}
.links_section{
    display: flex;
    margin-left: 250px;
    color: rgb(0, 77, 150);
}
.links_part_1,
.links_part_2{
    margin-top: 60px;
}

.links_part_2{
    margin-left: 100px;
    border-left: 1px solid black;
    padding-left: 20px;
        
}
.links_part_1 .the_link,
.links_part_2 .the_link{
    display: flex;
    align-items: center;
}
.links_section a{
    
    color: rgb(0, 77, 150);
    text-decoration: none;
    font-weight: bold;
}
.links_section img{
    margin-right: 10px;
    border-radius: 25px;
    
}
